html, body {
	height: 100%;
	margin: 0;
}
.container {
	display: flex;
	height: 100%;
}
.options, .prints { padding: 1em; }
.options {
	background-color: #ccc;
	border-right: 1px solid #000;
	width: 20%; /* how wide the "options menu" is, just one small thing at the moment anyway */
}
.options>h1 { text-align: center; }
.picker { margin-bottom: 1em; }
.prints {
	overflow-y: scroll;
	width: 80%; /* how wide the prints section is */
	display: flex;
	flex-wrap: wrap;
}
.prints > .print {
	flex-grow: 1;
	flex-basis: 20%; /* how much horizontal space each print takes up - they will shrink/grow */
}
img { width: 100%; }
.print>p { text-align: center; }